Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-use-nullptr,
  modernize-loop-convert,
  modernize-avoid-bind,
  modernize-deprecated-headers,
  readability-use-anyofallof
WarningsAsErrors: 'bugprone-*,performance-*'
HeaderFilterRegex: '^(src|tests|bench)/.*'
# Optional tuning:
CheckOptions:
  - { key: modernize-loop-convert.MinConfidence, value: reasonable }
