
Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-identifier-naming,
  readability-qualified-auto,
  readability-use-anyofallof,
  cppcoreguidelines-avoid-magic-numbers
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*'
